{% extends "resources/base.html" %}
{% load static %}

{% block title_block %}Edit Resources{% endblock title_block %}

{% block navbar %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-nav ml-auto">
    <h1 class="h3 mb-0 text-gray-800">Edit Resources</h1>
</div>
{% endblock navbar %}
{% block body_block %}
    {% if data %}
        <!-- Content Row -->
          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            {% for file in data %}
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      {% comment %} <div class="h5 font-weight-bold text-primary text-uppercase mb-1"></div> {% endcomment %}
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ file.name }}</div>
                    </div>
                    <div class="col-auto">
                        {% comment %} <button class="btn btn-danger btn-sm float-right" id="right" style="color:white" name="pk">Delete</button> {% endcomment %}
                      <a href="{% url 'resources:delete' file.pk %}" class="fas fa-trash fa-2x text-danger"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
          </div>    
    {% endif %}
    {% endblock %}
